<!--main start-->
<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <!--Sidebar content-->
      <div class="text-center">
        <a id="help_hide" href="javascript:void(0)" ng-click="loginHelpShow=!loginHelpShow" title="Help & answers" class="btn btn-info help-answer">Help & answers</a>
      </div>
      <div id="help_show" hidden class="help-answer-ct" ng-show='loginHelpShow'>
        <p><strong>Reminders:</strong></p>
        <p>Usernames are a minimum of four characters, case sensitive and contain a combination of uppercase letters, lowercase letters, numbers, dash, underscore, at sign or period.</p>
        <p>Passwords are case sensitive, a minimum of eight characters and may contain uppercase letters, lowercase letters, numbers or symbols</p>
        <p><a href="#" tabindex="" title="Get help">Get help</a></p>
      </div>
    </div>

    <div class="col-sm-9">
      <h1>Login to your account</h1>
      <p>
          Welcome back! Use the username and password you created earlier to log back in. Not
        sure if you've already signed up or not? Use the forgot username and/or password links
        below to check.
      </p>

      <div class="alert alert-danger">
        <button data-dismiss="alert" class="close" type="button">×</button>
        The username or password is invalid, please relogin again.
      </div>

      <form class="form-horizontal" role="form" action="../main_home.html" method="post">
        <div class="form-group">
          <label for="userName" class="col-sm-3 control-label"><i class="red">*</i> Username</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="userName" name="userName" maxlength="80" minlength="4" placeholder="User Name" tabindex="" ssp-focus/>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <a class="btn-link pull-right" href="#/forgot_username" tabindex="" title="Forgot username">Forgot username</a>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="col-sm-3 control-label"><i class="red">*</i> Password</label>
          <div class="col-sm-6">
            <input type="password" class="form-control" id="password" name="password" tabindex="" placeholder="Password" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <a class="btn-link pull-right" href="#/forgot_password" tabindex="" title="Forgot password">Forgot password</a>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-10">
            <strong>Don't have an account?</strong>
            <a href="sign_up.html" title="Sign up">Sign up</a>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>
<!--main end-->