extends ../layout
block content
    div.hero-unit
        p 这里是图片导航窗口
    div.row
        div.span2
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/4.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
        div.span2
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
        div.span2
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/4.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
        div.span2
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
        div.span2
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/1.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
        div.span2
            img.sault(src="/static/stylesheets/views/image/4.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/2.jpg",width="200px")
            img.sault(src="/static/stylesheets/views/image/3.jpg",width="200px")
