.externalToolBuilders/
*.settings/
target/
# Package Files #
*.jar
*.ear
.idea/
*.iml
test-output/
*.bak
*.log*
*.lnk
*.wav
**/node_modules/
**/bower_components/
public/images/
public/javascripts/
.DS_Store
