body {
  padding: 10px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navigation{
  list-style-type: none;
  display: inline-block;
}
.navigation li{
  list-style-type: none;
  float: left;
  margin: 5px;
}
