/**
 * jquery ui custom theme
**/


.jqgrid .ui-widget-content {border: 0px;}
.jqgrid .ui-widget-content a {color: #1A77C7;text-overflow:ellipsis;white-space:normal}

.jqgrid .ui-widget-content a:hover {color: #1A77C7;}

.jqgrid .ui-widget-content .ui-state-default{
	color: #333333;
	overflow:hidden;
	border-bottom:none;
}
.jqgrid .ui-state-default{border-bottom:none;}

.jqgrid .ui-jqgrid .ui-jqgrid-htable th div {height:auto;  }
.jqgrid .ui-th-column, .ui-jqgrid .ui-jqgrid-htable th.ui-th-column {text-align:left;}
.jqgrid .ui-jqgrid tr.jqgrow td {border-bottom: 1px solid #ddd; padding:8px;}
.jqgrid .ui-jqgrid tr.ui-row-ltr td {
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
    padding: 4px 2px;
    text-align: left;
    border-right:0;
    text-overflow:ellipsis;
}
.jqgrid .ui-th-ltr, .jqgrid .ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    border-bottom: 1px solid #D2D2D2;
    border-top: 1px solid #D2D2D2;
    color:#333333;
    font-weight: bold;
    padding: 5px 2px;
    text-align: left;
    border-right: 0;
    font-size:12px;
    font-family: Arial;
}

.jqgrid .ui-jqgrid .ui-paging-info {
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin-right: 30px;
    margin-top: 3px;
}
.jqgrid .ui-jqgrid{margin-to:0px; clear:both;}
.jqgrid .ui-jqgrid .ui-jqgrid-pager {
	background: none repeat scroll 0 0 #F1F1F1;
    border-top: 1px solid #DDDDDD;
    display: block;
    font-size: 12px;
    height: 40px;
    /*line-height: 40px;*/
    margin-bottom: 10px;
    margin-top: 0px !important;
    overflow: hidden;
    padding: 0 20px; }
    
.jqgrid .ui-icon-triangle-1-s {
    background-position: -65px -15px;
}

/*selected*/
.jqgrid .ui-state-highlight, .jqgrid .ui-widget-content .ui-state-highlight, .jqgrid .ui-widget-header .ui-state-highlight{
	background-color: #FAECDF;
	background-image: none;
}

/*hover*/
.jqgrid ui-state-hover,.jqgrid .ui-widget-content ui-state-hover,.jqgrid .ui-widget-header ui-state-hover,.jqgrid .ui-state-focus,.jqgrid .ui-widget-content .ui-state-focus,.jqgrid .ui-widget-header .ui-state-focus{
	background-color: #F8E0E3;
}
.jqgrid tr.ui-state-hover,.jqgrid .ui-widget-content tr.ui-state-hover,.jqgrid .ui-widget-header tr.ui-state-hover,.jqgrid .ui-state-focus,.jqgrid .ui-widget-content .ui-state-focus,.jqgrid .ui-widget-header .ui-state-focus{
	background-color: #F8E0E3;
}
.jqgrid tr.ui-state-hover td{
	background-color: #F8E0E3;
}

.jqgrid th.ui-state-hover{
	background: none #E6E6E6;
}

#gbox_gridTable,.ui-jqgrid{background:#fff;}
table tr.jqgfirstrow td{border:none;}
.jqgrid .ui-widget-content a.btn_click{
    color: #fff;
}

.jqgrid .ui-jqgrid-nodata{
	font-weight:bold;
	text-align:center;
	padding:10px;
	font-size:16px;
}

.jqgrid .ui-jqgrid .ui-pg-input {
	height:16px;
	padding:0 0 0 3px;
}

.jqgrid .ui-jqgrid .ui-pg-selbox{
	padding: 0 0 0 3px;
    width: 50px;
}

.ui-jqgrid .jqgrid-overlay {
	-moz-box-shadow: 0 0 5px 5px #ccc;
	-webkit-box-shadow: 0 0 5px 5px #ccc;
	box-shadow: 0 0 5px 5px #ccc;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	text-align: center;
	padding: 10px;
	width: 120px;
	border: 1px solid #777;
	background-color:#fff;
	opacity: 0.8; filter:Alpha(Opacity=0.8);
	color:#333;
	font-weight:bold;
}

.ui-jqgrid .ui-jqgrid-sortable{
	text-decoration:underline;
}

.ui-jqgrid .ui-jqgrid-unsortable{
	text-decoration:none;
	cursor:default;
}

.jqgrid .ui-widget-content a.orange.button{
     color: #ffffff;
 }
.jqgrid .ui-widget-content a.orange.button:hover{
    color: #ffffff;
    text-decoration: none;
}
.jqgrid .ui-widget-content a.gray.button{
    color: #333333;
}
.jqgrid .ui-widget-content a.gray.button:hover{
    color: #333333;
    text-decoration: none;
}
.scroll-y .ui-jqgrid-bdiv{
height: 175px; overflow-y: auto; overflow-x: hidden;
}

.ui-jqgrid-empty-data{
    font-size:18px;
    color:#999999;
    margin:20px;
}

.ui-jqgrid-empty-data.report{
	background: url("../report/img/data_img.png") no-repeat;
	height: 60px;
    padding-left: 75px;
}
