<script type="text/javascript" src="/static/javascripts/course/1-7/closure.js"></script>
<table class="jc_table">
    <tr class="jc_tr">
        <td class="jc_td_code">
		<pre name="code" class="javascript">
			var m = "hello";
			var jc = jc_course;
			function showM(){
				jc.utils.log(jc.codes[0],m);
			}
			m="hello2";
			showM();
		</pre>
        </td>
        <td class="jc_td_result" id="code1"></td>
    </tr>
    <tr class="jc_td">
        <td class="jc_td_code">
		<pre name="code" class="javascript">
			var iBaseNum = 10;
			function addNum(iNum1, iNum2) {
			  function doAdd() {
				return iNum1 + iNum2 + iBaseNum;
			  }
			  return doAdd;
			}
			var doAdd = addNum(1,2);
			jc.utils.log("code2",doAdd());
		</pre>
        </td>
        <td class="jc_td_result" id="code2"></td>
    </tr>
    <tr class="jc_td">
        <td class="jc_td_code">
		<pre name="code" class="javascript">
			function Apple(){
				var name = "苹果";
				var num = 5;
				this.getName = function(){
					return name;
				}
				jc.utils.log("code3",num);
			}
			var apple = new Apple();
			jc.utils.log("code3",apple.getName(),true);
		</pre>
        </td>
        <td class="jc_td_result" id="code3"></td>
    </tr>
</table>
