<!--main start-->
<div class="container" id="main_container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
      <h1>Forgot Password</h1>
      <p>Forgot your password? Please enter your username and registered email address, we will send reset password link to your mailbox! </p>

      <form id="form1" class="form-horizontal" action="" method="post">

        <div class="form-group">
          <label for="username" class="col-sm-3 control-label"><i class="red">*</i> Username </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="username" name="username" maxlength="80" tabindex="" required />
          </div>
        </div>
        <div class="form-group">
          <label for="registemail" class="col-sm-3 control-label"><i class="red">*</i> Registration Email  </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="registemail" name="registemail" maxlength="80" tabindex="" required />
          </div>
        </div>

        <div class="form-group">
          <label for="question" class="col-sm-3 control-label">Security Question</label>
          <div class="col-sm-6">
            <select  disabled tabindex="" id="question" name="question" class="form-control">
              <option value="question_one">What is your maternal grandmother's maiden name?</option>
              <option value="question_two">What is the city or town where your mother and father met?</option>
              <option value="question_three">What is the name of your favorite childhood friend?</option>
              <option value="question_four">What is the city or town where you met your spouse/significant other?</option>
              <option value="question_five">Where was your first job?</option>
              <option value="question_six">What school did you attend in sixth grade?</option>
              <option value="question_seven">What was your childhood nickname?</option>
              <option value="question_eight">What street did you live on in third grade?</option>
              <option value="question_nine">What was the name of your favorite pet or stuffed animal?</option>
              <option value="question_ten">What was the last name of your favorite teacher?</option>
              <option value="question_eleven">What is the city or town of your birth?</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="answer" class="col-sm-3 control-label"><i class="red">*</i> Security Answer</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="answer" name="answer" maxlength="120" tabindex="" required />
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary btn-block"> Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>