<!--main start-->
<div class="container" id="main_container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-11">
      <h2>Forgot Username</h2>
      <p> Forgot your username? Please enter your registered email address, we will send the username to your mailbox! </p>

      <form id="form1" class="form-horizontal" action="" method="post">
        <div class="form-group">
          <label for="registemail" class="col-sm-3 control-label"><i class="red">*</i> Registration Email </label>
          <div class="col-sm-6">
            <input type="text" class="form-control" id="registemail" name="registemail"  maxlength="80" tabindex="" required />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-3">
            <button type="submit" class="btn btn-primary btn-block"> Save </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
