<!DOCTYPE html>
<html>
  <head>
    <title>Member Portal-FAQs</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content=" ">
    <meta name="author" content="Everbridge">
    <meta name="keywords" content=" ">
    <link rel="stylesheet" href="./stylesheet/bootstrap/bootstrap.css?version=1.0" type="text/css">
    <link rel="stylesheet" href="./stylesheet/styles.css?version=1.0">
    <link rel="stylesheet" href="./stylesheet/jquery-validation/eb_validation.css?version=1.0" type="text/css"/>
    <link type="image/x-icon" href="./images/favicon.ico" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./javascript/plugins/bootstrap/html5shiv.min.js"></script>
      <script src="./javascript/plugins/bootstrap/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Accessibility http://getbootstrap.com/getting-started/ -->
    <a href="#main_container" class="sr-only" title="Skip to Main Content">Skip to Main Content</a>
    <!--head start-->
    <header class="navbar navbar-default navbar-static-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" tabindex="" title="[Org Name]Member Portal" alt="[Org Name]Member Portal"><strong>[Org Name]Member Portal</strong></a>
          </div>
        </div>
      </div>
      
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="../login.html" tabindex="" title="Login">Login</a> </li>
            <li> <a href="sign_up.html" tabindex="" title="Sign up">Sign up</a> </li>
            <li> <a href="overview.html" tabindex="" title="Overview">Overview</a> </li>
            <li class="active"> <a href="faq.html" tabindex="" title="FAQs">FAQs</a> </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--head end-->
    <!--main start-->
    <div class="container" id="main_container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-9">
          <!--Body content-->
          <h1>FAQs</h1>
          <h4>What is the emergency alert program?</h4>
          <p>This service allows you to sign up to get emergency alerts on your cell phone, work phone, text message, email,
            home phone, and more. You can also choose the locations you want to be contacted about. You can
            receive notifications about emergencies that may affect your home, your parents' home, your workplace, and
            your child's school, as long as those locations are within the boundaries of the city or county.</p>
          <h4>When will it be used?</h4>
          <p>The system will be used to notify residents about imminent threats to health and safety. Public safety officials
            will send alerts about emergencies such as severe weather, floods, gas leaks, or critical police activity.</p>
          <h4>How do I sign up?</h4>
          <p><a href="sign_up.html" tabindex="" title="Click here">Click here</a> to register for this service.</p>
          <h4>Will I still get emergency notifications if I don't sign up?</h4>
          <p>If you don't sign up, you will still
            receive notifications on your traditional home phone, but nowhere else.</p>
          <h4>What if my phone number or email address changes?</h4>
          <p>The system is only as good as the information you provide. If your cell phone, work phone or email address
            changes, you must go to www.leta911.org and update the information. The one exception is traditional</p>
          landlines. If a traditional landlines changes to another landline number, that information will be automatically
          updated.
          </p>
          <h4>Will my contact information be shared with others?</h4>
          <p>No, the information that you provide will be used for emergency purposes only. We will not give or sell your
            telephone numbers or email addresses to any vendor or other organization.</p>
        </div>
      </div>
    </div>
    <!--main end--> 

    <!--footer start-->
    <footer class="footer">
      <div class="text-center"> 
	  	<p class="footer-logo">Powered by </p>
        <p><a href="/register/terms/8800387990220"  target="_blank" tabindex=""> Terms of Use </a>
          <span id="copyright">&copy;&nbsp; 2013 Everbridge, Inc.</span></p>
      </div>
    </footer>
  </body>
</html>