<!DOCTYPE html>
<html>
  <head>
    <title>Member Portal-Overview</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content=" ">
    <meta name="author" content="Everbridge">
    <meta name="keywords" content=" ">
    <link rel="stylesheet" href="./stylesheet/bootstrap/bootstrap.css?version=1.0" type="text/css">
    <link rel="stylesheet" href="./stylesheet/styles.css?version=1.0">
    <link rel="stylesheet" href="./stylesheet/jquery-validation/eb_validation.css?version=1.0" type="text/css"/>
    <link type="image/x-icon" href="./images/favicon.ico" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./javascript/plugins/bootstrap/html5shiv.min.js"></script>
      <script src="./javascript/plugins/bootstrap/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Accessibility http://getbootstrap.com/getting-started/ -->
    <a href="#main_container" class="sr-only" title="Skip to Main Content">Skip to Main Content</a>
    <!--head start-->
    <header class="navbar navbar-default navbar-static-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" tabindex="" title="[Org Name]Member Portal" alt="[Org Name]Member Portal"><strong>[Org Name]Member Portal</strong></a>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="../login.html"  tabindex="" title="Login">Login</a> </li>
            <li> <a href="sign_up.html" tabindex="" title="Sign up">Sign up</a> </li>
            <li  class="active"> <a href="overview.html" tabindex="" title="Overview">Overview</a> </li>
            <li> <a href="faq.html" tabindex="" title="FAQs">FAQs</a> </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--head end-->

    <!--main start-->
    <div class="container" id="main_container">
      <div class="row">
        <div class="col-lg-offset-3 col-lg-9">
          <!--Body content-->
          <h1>Overview</h1>
          <p> We have launched a new emergency notification service that allows us to alert you to an emergency in your
            area.The system uses listed phone numbers. You may also enter additional ways of contacting you, such as
            cell phones, business phones, and email. The information you enter is protected and will not be used for any
            other purpose.</p>
          <h4>How Emergency Alerts Work</h4>
          <p>When we issue a message about a potential safety hazard or concern, messages will be sent to all standard
            voice and text communication devices that you have registered, including landline phones, cell phones, email,
            and more. If you don't confirm receipt of the message, the system will try to reach your second contact
            number or email. The system will continue trying to contact you until it receives a confirmation from you.</p>
          <h4>Sign Up for Emergency Alerts</h4>
          <p><a href="#" tabindex="" title="Add your contact information">Add your contact information</a> to the emergency notification system.Â Residents and businessesÂ with listed
            telephone numbers have already been included in the system.Â You may use the registration link to include
            additional ways to contact you. All information you provide will be kept strictly confidential.</p>
          <h4>Update Your Contact Information or Preferences</h4>
          <p>Already signed up for alerts? <a href="#" tabindex="" title="Log in to update your contact information or preferences.">Log in to update your contact information or preferences.</a></p>
          <h4>Stop Receiving Alerts</h4>
          <p>Opt out of Important Community Alerts. By opting out of Important Community Alerts, you will no longer
            receive community notifications.</p>
        </div>
      </div>
    </div>
    <!--main end--> 

    <!--footer start-->
    <footer class="footer">
      <div class="text-center"> 
	  	<p class="footer-logo">Powered by </p>
        <p><a href="/register/terms/8800387990220"  target="_blank" tabindex=""> Terms of Use </a>
          <span id="copyright">&copy;&nbsp; 2013 Everbridge, Inc.</span></p>
      </div>
    </footer>
  </body>
</html>