<div class="container" id="main_container">
  <div class="row">
    <div class="col-sm-3">
      <!--Sidebar content-->
      <div class="text-center"> <a id="help_hide" href="#" title="Help & answers" class="btn btn-info help-answer">Help & answers</a> </div>
      <div id="help_show" hidden class="help-answer-ct">
        <P><strong>Subscriptions</strong><br>
          Select</p>
        <P><a href="#" tabindex="" title="Get help">Get help</a></P>
      </div>
    </div>
    <div class="col-sm-9">
      <!--Body content-->
      <div class="alert alert-success">
        <button data-dismiss="alert" class="close" type="button">×</button>
        Success! Your profile has been created </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="well">
            <h3>My Subscriptions <small><a href="#/subscription" tabindex="" id="editSubscriptions"  class="display_inline" title="Edit">Edit</a></small></h3>
            <dl>
              <dt>County of Los Angeles > Glendale </dt>
              <dd>Parking restrictions</dd>
              <dd>Town Fairs and Festivals</dd>
              <dd>Parking restrictions</dd>
              <dt>County of Los Angeles > Brentwood</dt>
              <dd>Parking restrictions</dd>
              <dd>Town Fairs and Festivals</dd>
              <dd>Parking restrictions</dd>
              <dd>Donec id elit non mi porta gravida at eget metus.</dd>
              <dt>Malesuada porta</dt>
              <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>
          </div>
        </div>

        <div class="col-sm-7">
          <h3>My Profile <small><a href="#/myprofile" id="editProfile" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
            <dl class="dl-horizontal">
              <dt>Name:</dt>
              <dd>Doug Browk</dd>
              <dt>External ID:</dt>
              <dd>0098876</dd>
              <dt>Email:</dt>
              <dd>db@email.com</dd>
              <dt>Phone:</dt>
              <dd>999-999-9999</dd>
              <br>
              <dt>Username:</dt>
              <dd>dbrow234</dd>
              <dt>Password:</dt>
              <dd>******</dd>
              <dt>Registration Email:</dt>
              <dd>db@email.com</dd>
            </dl>
            <h3>My Locations <small><a href="#/location"  id="editLocations" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
            <dl class="dl-horizontal">
              <dt>Home1:</dt>
              <dd>3 So. Main St., Andover, MA 01810 USA</dd>
              <dt>Business1:</dt>
              <dd>245 Winter St., Waltham, MA 02451 USA</dd>
            </dl>
            <h3>Additional Information <small><a href="#/information" id="editInformation" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
            <dl class="dl-horizontal">
              <dt>Number of cars:</dt>
              <dd>2</dd>
              <dt>Parking:</dt>
              <dd>Yes</dd>
            </dl>
        </div>
      </div>
      <hr>
      <p><i class="icn_delete_24"></i><a href="#" title="Delete my account">Delete my account</a></p>
    </div>
  </div>
</div>
