<!DOCTYPE html>
<html>
  <head>
    <title>Member Portal-Review</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content=" ">
    <meta name="author" content="Everbridge">
    <meta name="keywords" content=" ">
    <link rel="stylesheet" href="./stylesheet/bootstrap/bootstrap.css?version=1.0" type="text/css">
    <link rel="stylesheet" href="./stylesheet/styles.css?version=1.0">
    <link rel="stylesheet" href="./stylesheet/jquery-validation/eb_validation.css?version=1.0" type="text/css"/>
    <link type="image/x-icon" href="./images/favicon.ico" rel="shortcut icon">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="./javascript/plugins/bootstrap/html5shiv.min.js"></script>
      <script src="./javascript/plugins/bootstrap/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Accessibility http://getbootstrap.com/getting-started/ --> 
    <a href="#main_container" class="sr-only" title="Skip to Main Content">Skip to Main Content</a> 
    <!--head start-->
    <header class="navbar navbar-default navbar-static-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" tabindex="" title="[Org Name]Member Portal" alt="[Org Name]Member Portal"><strong>[Org Name]Member Portal</strong></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            Hi Dave (dbro234)
          </span>
          <a class="navbar-brand" href="login.html" tabindex="">Logout</a>
        </div>
        <nav class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"> <a href="login.html" tabindex="" title="Home">Home</a> </li>
            <li> <a href="overview.html" tabindex="" title="Overview">Overview</a> </li>
            <li> <a href="faq.html" tabindex="" title="FAQs">FAQs</a> </li>
          </ul>
        </nav>
      </div>
    </header>
    <!--head end-->
    <!--main start-->
    <div class="container" id="main_container">
      <div class="row">
        <div class="col-sm-3"> 
          <!--Sidebar content-->
          <div class="text-center"> <a id="help_hide" href="#" title="Help & answers" class="btn btn-info help-answer">Help & answers</a> </div>
          <div id="help_show" hidden class="help-answer-ct">
            <P><strong>Subscriptions</strong><br>
              Select</p>
            <P><a href="#" tabindex="" title="Get help">Get help</a></P>
          </div>
        </div>
        <div class="col-sm-9"> 
          <!--Body content-->
          <div class="alert alert-success">
            <button data-dismiss="alert" class="close" type="button">×</button>
            Success! Your profile has been created </div>
          <div class="row">
            <div class="col-sm-5"> 
              <div class="well">
                <h3>My Subscriptions <small><a href="../edit_main_subscription.html?from=review" tabindex="" id="editSubscriptions"  class="display_inline" title="Edit">Edit</a></small></h3>
                <dl>
                  <dt>County of Los Angeles > Glendale </dt>
                  <dd>Parking restrictions</dd>
                  <dd>Town Fairs and Festivals</dd>
                  <dd>Parking restrictions</dd>
                  <dt>County of Los Angeles > Brentwood</dt>
                  <dd>Parking restrictions</dd>
                  <dd>Town Fairs and Festivals</dd>
                  <dd>Parking restrictions</dd>
                  <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                  <dt>Malesuada porta</dt>
                  <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                </dl>
              </div>
            </div>

            <div class="col-sm-7"> 
              <h3>My Profile <small><a href="../edit_myprofile.html?from=review" id="editProfile" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
                <dl class="dl-horizontal">
                  <dt>Name:</dt>
                  <dd>Doug Browk</dd>
                  <dt>External ID:</dt>
                  <dd>0098876</dd>
                  <dt>Email:</dt>
                  <dd>db@email.com</dd>
                  <dt>Phone:</dt>
                  <dd>999-999-9999</dd>
                  <br>
                  <dt>Username:</dt>
                  <dd>dbrow234</dd>
                  <dt>Password:</dt>
                  <dd>******</dd>
                  <dt>Registration Email:</dt>
                  <dd>db@email.com</dd>
                </dl>
                <h3>My Locations <small><a href="../edit_main_location.html?from=review"  id="editLocations" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
                <dl class="dl-horizontal">
                  <dt>Home1:</dt>
                  <dd>3 So. Main St., Andover, MA 01810 USA</dd>
                  <dt>Business1:</dt>
                  <dd>245 Winter St., Waltham, MA 02451 USA</dd>
                </dl>
                <h3>Additional Information <small><a href="../edit_main_information.html?from=review" id="editInformation" tabindex="" class="display_inline" title="Edit">Edit</a></small></h3>
                <dl class="dl-horizontal">
                  <dt>Number of cars:</dt>
                  <dd>2</dd>
                  <dt>Parking:</dt>
                  <dd>Yes</dd>
                </dl>
            </div>
          </div>
          <hr>
          <p><i class="icn_delete_24"></i><a href="#" title="Delete my account">Delete my account</a></p>
        </div>
      </div>
    </div>
    <!--footer start-->
    <footer class="footer">
      <div class="text-center"> 
	  	<p class="footer-logo">Powered by </p>
        <p><a href="/register/terms/8800387990220"  target="_blank" tabindex=""> Terms of Use </a>
          <span id="copyright">&copy;&nbsp; 2013 Everbridge, Inc.</span></p>
      </div>
    </footer>
    <script type="text/javascript" src="javascript/jquery.js?version="></script> 
    <script type="text/javascript" src="javascript/plugins/bootstrap/bootstrap.js?version="></script> 
    <script type="text/javascript" src="javascript/plugins/jquery-validation/jquery.validate.js?version="></script> 
    <script type="text/javascript" src="javascript/everbridge/EB_Common.js?version="></script> 
    <script type="text/javascript" src="javascript/everbridge/eb_validation.js?version="></script> 
    <script type="text/javascript" src="javascript/views/ssp.js?version="></script> 
    <script type="text/javascript" src="javascript/views/main.js?version="></script> 
    <script type="text/javascript">
      $(function() {
        EB_Common.views.home.initPage();
      });
    </script>
  </body>
</html>
