<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>${title}</title>
<link href="/stylesheets/style.css" type="text/css" rel="stylesheet" charset="utf-8">
<link href="/javascripts/plugin/jquery-ui/jquery-ui.css" type="text/css" rel="stylesheet" charset="utf-8">
<script type="text/javascript">
	$(function(){
		$("#language").change(function(){
			console.log(EB_Common.message);
			EB_Common.message.load($(this).val());
		}).get(0).value=EB_Common.message.type;
	});
</script>
</head>
<body>
	<div id="header" class="header">
	</div>
	<div id="wrapper" class="wrapper">
		<div>
			{{html body}}
		</div>
	</div>
	<div id="footer" class="footer">
		<div></div>
	</div>
</body>
</html>