doctype html
html
    link(rel='stylesheet', href='/stylesheets/style.css')
    script.
        if (!String.prototype.format) {
            String.prototype.format = function() {
                var args = arguments;
                return this.replace(/{(\d+)}/g, function(match, number) {
                    return typeof args[number] != 'undefined' ? args[number] : match ;
                 });
            };
        };
    script(src='/bower_components/d3/d3.js')
    script(src='/bower_components/d3-tip/index.js')
    head
        title= htmlWebpackPlugin.options.title
    body
        div
            ul.navigation
                each val, index in htmlWebpackPlugin.options.links
                    li
                        a(href='/' + index + '.html')= index
        div#root
        <span></span>