<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>SelectFeature Control on Layer.Vector</title>
    <link rel="stylesheet" href="../../resources/OpenLayers-2.13/theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="../../resources/page.css" type="text/css">
    <script src="http://maps.google.com/maps/api/js?v=3&sensor=false"></script>
    <script src="../../resources/jsts/javascript.util.js"></script>
    <script src="../../resources/jsts/jsts.js"></script>
    <script src="../../resources/OpenLayers-2.13/lib/OpenLayers.js"></script>
    <script type="text/javascript" src="arcgis.js"></script>
</head>
<body>
<div id="map" class="smallmap" style="width: 1000px;height: 500px"> </div>
</body>
</html>
<script type="text/javascript">
    var mapOptions = {
        maxExtent: new OpenLayers.Bounds(-174,18.4,-63.5,71),
        maxResolution: 0.25,
        projection: "EPSG:4326",
        zoom:10
    };
    map = new OpenLayers.Map( 'map', mapOptions );
    layer = new OpenLayers.Layer.ArcGIS93Rest( "ArcGIS Server Layer",
            "http://services.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/export"
//            "http://cache1.arcgisonline.cn/arcgis/rest/services/ChinaOnlineCommunity/MapServer/export"
//            "http://140.241.251.197/ArcGIS/rest/services/maps/Terrain_Base_tiled/MapServer/export"
//            "http://gis.fcgov.com/FTCArcGIS/rest/services/LETAMaps/MapServer/export"
);
    map.addLayer(layer);
    map.addControl( new OpenLayers.Control.MousePosition() );
    map.setCenter(new OpenLayers.LonLat(-115, 45), 0);
</script>
