doctype 5
html(lang="en",ng-app)
    head
        title= title
        link(rel='stylesheet', href='/static/css/styles.css')
        link(rel='stylesheet', href='/static/css/settings/settings.css')
    body
        include settings.html
        script(src="/static/javascript/jquery-1.9.1.js")
        script(src="/static/javascript/angular1.2/angular.js")
