<div id="main">
<!--center start-->
<div class="main_content">
<div class="tab margin20-B margin20-T">
    <div class="tab_lst" id="settingsTab">
        <a href="#" class="mouse_out" linkid="organization">Organization</a> <a href="#" linkid="memberPortal">Member Portal</a>
    </div>
</div>
<div id="organization" tab_container="">
    <div class="b-setting-menu" id="orgMenuCt">
        <b class="arrows" id="orgMenuArrows" style="top: 49px; display: inline;"></b>
        <!-- menu element -->
        <div class="b-ui-treepanel ui-widget ui-widget-content" style="width: 200px; height: auto;">
            <ul class="b-ui-treepanel-ul">
                <li class="b-ui-treepanel-li" id="level1_1" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1 ui-state-active" style="padding-left: 13px;">
                        <i class="b-ui-treepanel-branch-icon"></i><span>Organization</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-1" style="display: block;">
                        <li class="b-ui-treepanel-li node-leaf" id="level1_1_1" level="2">
                            <div class="b-ui-treepanel-content ui-state-active" style="padding-left: 26px;">
                                <label>Base Information</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_1_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>Login Message</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="level1_2" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Map</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-2" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="level1_2_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Default Settings</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_2_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>My Shapes</label>
                            </div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_2_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Display Layers</label></div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="level1_3" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Interactive Visibility</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-3" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="level1_3_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Weather and Hazard Alerts</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_3_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Twitter Alerts</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_3_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Mobile Member App Alerts</label></div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="level1_8" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Publishing Options</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-4" style="display: none;">
                        <li class="b-ui-treepanel-li" id="level1_8_1" level="2">
                            <header class="b-ui-treepanel-hearder b-ui-treepanel-level2" style="padding-left: 26px;">
                                <i class="b-ui-treepanel-branch-icon"></i><span>Everbridge Network</span>
                            </header>
                            <ul class="b-ui-treepanel-ul" id="ui-id-5" style="display: none;">
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_1_1" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>Organization Identity</label></div>
                                </li>
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_1_2" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>Subscribe &amp; Publish</label></div>
                                </li>
                            </ul>
                        </li>
                        <li class="b-ui-treepanel-li" id="level1_8_2" level="2">
                            <header class="b-ui-treepanel-hearder b-ui-treepanel-level2" style="padding-left: 26px;">
                                <i class="b-ui-treepanel-branch-icon"></i><span>CMAS/WEA</span>
                            </header>
                            <ul class="b-ui-treepanel-ul" id="ui-id-6" style="display: none;">
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_2_1" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>Certificate</label>
                                    </div>
                                </li>
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_2_2" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>SAME Codes</label></div>
                                </li>
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_2_3" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>Sender Agency Name</label></div>
                                </li>
                                <li class="b-ui-treepanel-li node-leaf" id="level1_8_2_4" level="3">
                                    <div class="b-ui-treepanel-content" style="padding-left: 39px;">
                                        <label>CMAS Fields</label></div>
                                </li>
                            </ul>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_8_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Alertus</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_8_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>Web Posting</label>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="level1_4" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Notifications</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-7" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Default Options</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Sender Information</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Delivery Methods</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Broadcast Throttling</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_6" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Conference Bridges</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_5" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Phone - Voice Greeting</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_4_7" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Email - Header &amp; Footer</label></div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="level1_5" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Contacts and Groups</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-8" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="level1_5_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Contact Record Types</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_5_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Additional Information</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_5_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Subscription Fields</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="level1_5_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Security</label></div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- setting panel -->
    <div class="b-setting-panel"></div>
</div>
<div id="memberPortal" tab_container="" style="display: none;">
    <div class="margin10-B btn" id="sspUrlContainer">
        <button class="button button-tbl gray width_200 margin15-R" type="button"> Access Your Portal</button>
        <span class="tip_message inline-block">https://ssp-qa1.everbridge.net/index/8800387990266</span>
    </div>
    <div class="b-setting-menu" id="memberMenuCt">
        <b class="arrows" id="memberMenuArrows" style="top: 8px; display: inline;"></b>
        <!-- menu element -->
        <div class="b-ui-treepanel ui-widget ui-widget-content" style="width: 200px; height: auto;">
            <ul class="b-ui-treepanel-ul">
                <li class="b-ui-treepanel-li node-leaf" id="memberMenu1" level="1">
                    <div class="b-ui-treepanel-content ui-state-active" style="padding-left: 13px;">
                        <label>Portal Options</label></div>
                </li>
                <li class="b-ui-treepanel-li" id="memberMenu2" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Information Collection</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-9" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu2_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Profile</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu2_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Locations</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu2_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Alerts</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu2_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Information</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu2_5" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Delivery Methods</label></div>
                        </li>
                    </ul>
                </li>
                <li class="b-ui-treepanel-li" id="memberMenu3" level="1">
                    <header class="b-ui-treepanel-hearder b-ui-treepanel-level1" style="padding-left: 13px;"><i class="b-ui-treepanel-branch-icon"></i><span>Content</span></header>
                    <ul class="b-ui-treepanel-ul" id="ui-id-10" style="display: none;">
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_1" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Banner</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_2" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>Sign Up</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_3" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>Login</label>
                            </div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_4" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Review</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_5" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;">
                                <label>Overview</label></div>
                        </li>
                        <li class="b-ui-treepanel-li node-leaf" id="memberMenu3_6" level="2">
                            <div class="b-ui-treepanel-content" style="padding-left: 26px;"><label>FAQ</label>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- setting panel -->
    <div class="b-setting-panel"></div>
</div>
</div>
<!--center end-->
</div>