<!--main start-->
<div class="container" id="main_container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-9">
      <!--Body content-->
      <h1>FAQs</h1>
      <h4>What is the emergency alert program?</h4>
      <p>This service allows you to sign up to get emergency alerts on your cell phone, work phone, text message, email,
        home phone, and more. You can also choose the locations you want to be contacted about. You can
        receive notifications about emergencies that may affect your home, your parents' home, your workplace, and
        your child's school, as long as those locations are within the boundaries of the city or county.</p>
      <h4>When will it be used?</h4>
      <p>The system will be used to notify residents about imminent threats to health and safety. Public safety officials
        will send alerts about emergencies such as severe weather, floods, gas leaks, or critical police activity.</p>
      <h4>How do I sign up?</h4>
      <p><a href="#/sign_up" tabindex="" title="Click here">Click here</a> to register for this service.</p>
      <h4>Will I still get emergency notifications if I don't sign up?</h4>
      <p>If you don't sign up, you will still
        receive notifications on your traditional home phone, but nowhere else.</p>
      <h4>What if my phone number or email address changes?</h4>
      <p>The system is only as good as the information you provide. If your cell phone, work phone or email address
        changes, you must go to www.leta911.org and update the information. The one exception is traditional</p>
      landlines. If a traditional landlines changes to another landline number, that information will be automatically
      updated.
      </p>
      <h4>Will my contact information be shared with others?</h4>
      <p>No, the information that you provide will be used for emergency purposes only. We will not give or sell your
        telephone numbers or email addresses to any vendor or other organization.</p>
    </div>
  </div>
</div>
<!--main end-->