<!--main start-->
<div class="container" id="main_container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-9">
      <!--Body content-->
      <h1>Overview</h1>
      <p> We have launched a new emergency notification service that allows us to alert you to an emergency in your
        area.The system uses listed phone numbers. You may also enter additional ways of contacting you, such as
        cell phones, business phones, and email. The information you enter is protected and will not be used for any
        other purpose.</p>
      <h4>How Emergency Alerts Work</h4>
      <p>When we issue a message about a potential safety hazard or concern, messages will be sent to all standard
        voice and text communication devices that you have registered, including landline phones, cell phones, email,
        and more. If you don't confirm receipt of the message, the system will try to reach your second contact
        number or email. The system will continue trying to contact you until it receives a confirmation from you.</p>
      <h4>Sign Up for Emergency Alerts</h4>
      <p><a href="#" tabindex="" title="Add your contact information">Add your contact information</a> to the emergency notification system.Â Residents and businessesÂ with listed
        telephone numbers have already been included in the system.Â You may use the registration link to include
        additional ways to contact you. All information you provide will be kept strictly confidential.</p>
      <h4>Update Your Contact Information or Preferences</h4>
      <p>Already signed up for alerts? <a href="#" tabindex="" title="Log in to update your contact information or preferences.">Log in to update your contact information or preferences.</a></p>
      <h4>Stop Receiving Alerts</h4>
      <p>Opt out of Important Community Alerts. By opting out of Important Community Alerts, you will no longer
        receive community notifications.</p>
    </div>
  </div>
</div>
<!--main end-->