<!DOCTYPE html>
<html>
  <head>
    <title>Member Portal-Sign up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content=" ">
    <meta name="author" content="Everbridge">
    <meta name="keywords" content=" ">
    <link rel="stylesheet" href="./stylesheet/bootstrap/bootstrap.css?version=1.0" type="text/css">
    <link rel="stylesheet" href="./stylesheet/bootstrap/bootstrap-theme.css?version=1.0" type="text/css">
    <link rel="stylesheet" href="./stylesheet/styles.css?version=1.0">
    <link rel="stylesheet" href="./stylesheet/jquery-validation/eb_validation.css?version=1.0" type="text/css"/>
    <link type="image/x-icon" href="./images/favicon.ico" rel="shortcut icon">
  </head>
  <body>
    <!-- Accessibility http://getbootstrap.com/getting-started/ -->
    <a href="#main_container" class="sr-only" title="Skip to Main Content">Skip to Main Content</a>
    <!--head start-->
    <header class="navbar navbar-default navbar-static-top">
      <div class="navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <a href="#" class="navbar-brand" tabindex="" title="[Org Name]Member Portal" alt="[Org Name]Member Portal"><strong>[Org Name]Member Portal</strong></a>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="../login.html"  tabindex="" title="Login">Login</a> </li>
            <li  class="active"> <a href="../register/sign_up.html" class="active" tabindex="" title="Sign up">Sign up</a> </li>
            <li> <a href="../overview.html" tabindex="">Overview</a> </li>
            <li> <a href="../faq.html" tabindex="">FAQs</a> </li>
          </ul>
        </div>
      </div>
    </header>
    <!--head end-->

    <!--main start-->
    <div class="container" id="main_container">
      <div class="row">
        <div class="col-lg-3">
          <!--Sidebar content-->
          <div class="text-center"> 
            <a id="help_hide" href="#" title="Help & answers" class="btn btn-info help-answer">Help & answers</a>
          </div>
          <div id="help_show" hidden class="help-answer-ct">
            <p><strong>Reminders:</strong></p>
            <p>Not clear what this is or what to do?<br>
              <a href="#">Overview</a><br>
              <a href="#">Frequently Asked Questions</a></p>
            <br>
            <p><strong>Username taken?</strong><br>
              Maybe you signed up earlier.<br>
              Try <a href="#" tabindex="">logging in.</a></p>
            <br>
            <p><strong>Email address</strong><br>
              The Email address you enter 
              here will be your registration 
              Email address and will be used 
              to deliver your log-in 
              information should you require 
              log-in assistance."</p>
            <br>
            <br>
            <p><strong>Security Question</strong><br>
              Your security question and 
              answer will be used to ensure 
              your security should you forget 
              your username and/or 
              password and request log-in 
              assistance.</p>
            <br>
            <br>
            <p><a href="#" tabindex=""><b>Get help</b></a></p>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="alert alert-success" hidden="">
            <button data-dismiss="success" class="close" type="button" id="successInfo" >×</button>
            <strong>Save Successfully!</strong>
          </div>

          <h1>please update your account information</h1><br><br>
          <form id="signUpForm" class="form-horizontal" role="form" action="../register/main_myprofile.html" method="post">
            <div class="form-group">
              <label for="userName" class="col-lg-3 control-label"><i class="red">*</i> Username</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="userName" name="userName" maxlength="80" minlength="4" placeholder="User Name" tabindex="" required /> 
                <p class="help-block">Combine upper case letters, lowercase letters, numbers 
                  and dash or underscore. (4 characters minimum, case sensitive)</p>
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-lg-3 control-label"><i class="red">*</i> Password</label>
              <div class="col-lg-6">
                <input type="password" class="form-control" id="password" name="password" maxlength="64" minlength="8" tabindex="" required />
                
                <div class="progress margin10-T" id="passwordRule">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                  </div>
                  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
                  </div>
                  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 34%">
                  </div>
                </div>

                <p class="help-block">We recommend a strong password that doesn't include 
                  common words or names. Combine upper case letters, 
                  lowercase letters, numbers and symbols. (8 characters 
                  minimum, case sensitive) </p>
              </div>
            </div>

            <div class="form-group">
              <label for="confirmPassword" class="col-lg-3 control-label"><i class="red">*</i> Confirm Password</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="confirmPassword" name="confirmPassword" maxlength="64" minlength="8" tabindex="" required />
              </div>
            </div>

            <div class="form-group">
              <label for="securityQuestion" class="col-lg-3 control-label"><i class="red">*</i> Security Question</label>
              <div class="col-lg-6">
                <select class="form-control" name="securityQuestion" id="securityQuestion" tabindex="" required>
                  <option value="">-Select-</option>
                  <option value="question_one">What is your maternal grandmother's maiden name?</option>
                  <option value="question_two">What is the city or town where your mother and father met?</option>
                  <option value="question_three">What is the name of your favorite childhood friend?</option>
                  <option value="question_four">What is the city or town where you met your spouse/significant other?</option>
                  <option value="question_five">Where was your first job?</option>
                  <option value="question_six">What school did you attend in sixth grade?</option>
                  <option value="question_seven">What was your childhood nickname?</option>
                  <option value="question_eight">What street did you live on in third grade?</option>
                  <option value="question_nine">What was the name of your favorite pet or stuffed animal?</option>
                  <option value="question_ten">What was the last name of your favorite teacher?</option>
                  <option value="question_eleven">What is the city or town of your birth?</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label for="securityAnswer" class="col-lg-3 control-label"><i class="red">*</i> Answer</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="securityAnswer" name="securityAnswer"  maxlength="120" minlength="2" tabindex="" required />
              </div>
            </div>

            <div class="form-group">
              <label for="email" class="col-lg-3 control-label"><i class="red">*</i> Registration Email</label>
              <div class="col-lg-6">
                <input type="text" class="form-control" id="email" name="email" maxlength="80" minlength="6" tabindex="" required />
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-6">
                <label class="checkbox" for="acceptCheckbox">
                  <span class="sr-only">Select/Deselect this item in this section</span>
                  <input type="checkbox" checked="" value="true" id="acceptCheckbox" name="acceptCheckbox" tabindex="">
                  I accept the <a class="btn-link" href="#">Terms of Use</a> </label>
                <input class="sr-only" type="text" name="acceptInput" id="acceptInput"/>
              </div>
            </div>

            <div class="form-group">
              <div class="col-lg-offset-3 col-lg-3">
                <button type="submit" id="createBtn"  class="btn btn-primary btn-block">Sign up</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!--main end--> 

    <!--footer start-->
    <footer class="footer">
      <div class="text-center"> 
	  	<p class="footer-logo">Powered by </p>
        <p><a href="/register/terms/8800387990220"  target="_blank" tabindex=""> Terms of Use </a>
          <span id="copyright">&copy;&nbsp; 2013 Everbridge, Inc.</span></p>
      </div>
    </footer>

    <!--footer end-->
    <script type="text/javascript" src="javascript/jquery.js?version="></script> 
    <script type="text/javascript" src="javascript/plugins/bootstrap/bootstrap.js?version="></script> 
    <script type="text/javascript" src="javascript/plugins/jquery-validation/jquery.validate.js?version="></script> 
    <script type="text/javascript" src="javascript/everbridge/EB_Common.js?version="></script> 
    <script type="text/javascript" src="javascript/everbridge/eb_validation.js?version="></script> 
    <script type="text/javascript" src="javascript/views/ssp.js?version="></script> 
    <script type="text/javascript" src="javascript/views/signUp.js?version="></script> 
    <script type="text/javascript">
      $(function() {
        EB_Common.views.signUp.initPage();
      });
    </script>
  </body>
</html>