.contact_address{cursor: pointer;}
a,input{
    hide-focus: expression(this.hideFocus=true); /* for ie 5+ */
    outline: none; /* for firefox 1.5 + */
}
.nav a{
    text-decoration: none;
}
.olAlphaImg{
    cursor: pointer;
}
.olControlPanZoomBar{
    right:50px;
    top:5px;
}
.everbridge_gis_panel_head{
    width:250px;
    height: 23px;
    background: url(../common/img/maptoolbar_cellapse_nofont.png) no-repeat;
}
.everbridge_gis_panel_head span{
    color: white;
    line-height: 23px;
    padding-left: 8px;
}
.everbridge_gis_panel_open{
    background: url(../common/img/maptoolbar_expand_nofont.png) no-repeat;
}
.everbridge_gis_panel_body{
    background-color: #333333;
    width: 178px;
    display: none;
    color:#ddd;
    border: 1px solid black;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    opacity: 0.8;
}

.everbridge_gis_panel_body_result{
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    padding:15px 15px;
    color:#00BEEE;
    background:#000;
    text-align:center
}

.everbridge_gis_panel_body ul{margin: 5px;  margin-right: 0;}
.everbridge_gis_panel_body ul li{
    height: 25px;
    line-height: 25px;
    font-size:12px;
    padding-left:5px;
    font-weight:bold;
    color:#F7C795;
}
.everbridge_gis_panel_body li a{display: block;color:#fff; font-weight: normal;}
.everbridge_gis_panel_body li a:hover{background-color: #000;}
/*.everbridge_gis_panel_body ul .control_li:hover{
    background-color: #000;
}
.everbridge_gis_panel_body ul .control_placeholder{
    background-color: #000;
}  */
.everbridge_gis_panel_body ul li a,.gis_polygon_tools ul li a{}
.olControlBaseMapLayerSwitcherLi{
    /*background: url(../common/img/icon_toolbar_map.png) no-repeat 0px 2px;  */
}
.baseDialogControl{
    min-width: 250px;
    background-color:#333333;
    *filter:alpha(opacity=80);
    border: 1px solid #333333;
    border-radius: 4px;
    padding-bottom:10px;
    background:rgba(51,51,51,0.8);

}
.baseDialogControl *{ position:relative;}
.baseDialogControl .error-right{
    /*position: absolute;*/
}
.base_dialog_control_close{
    position: absolute;
    width: 14px;
    height: 14px;
    background:url(img/close_white.png) no-repeat -1px -1px;
    cursor: pointer;
    right: 5px;
    top: 5px;
}
.baseDialogControl .baseDialogControlHeader{
    text-align: left;
    color: #DDDDDD;
    font-size: 12px;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    background:#000;
    cursor: move;
}
.icon_drag{ background:url(img/icon_drag.png) no-repeat; float: right; margin-right: 23px;display: inline-block; height: 8px;
    margin-right: 23px;
    margin-top:7px;
    vertical-align: middle;
    width: 22px;}
.baseDialogControl a{
    text-decoration: none;
}
#map.hoverHands {
    cursor: pointer;
}
.everbridge_gis_basemap{
}
.everbridge_gis_basemap p{
    text-align: center;
    background-color: black;
    color: #DDDDDD;
    font-size: 14px;
    height: 23px;
    line-height: 22px;
}
.everbridge_gis_basemap_list{

}
.everbridge_gis_basemap_list ul,.everbridge_gis_overlayer_list ul{margin: 5px;}
.everbridge_gis_basemap_list li,.everbridge_gis_overlayer_list li{
    padding: 5px;
    font-size:12px;
    color: #DDDDDD;
}
.everbridge_gis_basemap_list ul li input[type="radio"]{ margin-right: 3px;}
.olControlOverLayerSwitcherLi{
    background: url(../common/img/icon_toolbar_eye.png) no-repeat 0px 2px;
}
.everbridge_gis_overlayer{
}
.everbridge_gis_overlayer p{
}
.everbridge_gis_overlayer_list{

}

.olControlSearchContactsLi{
    /*background: url(../common/img/icon_toolbar_searchcontact.png) no-repeat 0px 2px; */
    /*border-bottom: 1px solid #ddd;   */
    /*padding-bottom:3px;*/
    /*margin-bottom:5px;*/
}
.everbridge_gis_search_contact{
    width:610px;
}
.gis_search_contact_ul li label{ font-weight: normal;}
.gis_search_contact_ul li, .gis_search_location_ul li {
    padding: 5px;
    font-size:12px;
    color: #DDDDDD;
}
.search_contact_rule_div ul li,.search_contact_filter_div ul li{
    padding: 0;
    padding-top: 5px;
}
.gis_search_contact_ul .search_contact_submit_li,.search_location_submit_li,
.gis_search_location_ul .search_location_submit_li {
    text-align: right;
}
.search_contact_filter_div .select_filter, .search_location_rule_div .select_rule {
    width:100%;
}
.max_height300{
    max-height: 300px;
    overflow-y:auto;
    margin-top: 5px;
}
.search_contact_rule_div, .search_location_filter_div {
    display: none;
}
.search_contact_filter_div .filter_operate, .search_location_filter_div .filter_operate {

}
.filter_operate{
    display: inline-block;
    width: 40px;
    height: 18px;
    vertical-align: middle;
}
.gis_search_contact_ul .filter_operate_add{
    /*background: url(../common/img/icon_region_add.png) no-repeat 0px 0px; */
    cursor: pointer;
    float: left;
    height: 16px;
    background-position-y: 3px;
}
.gis_search_contact_ul .filter_operate_remove{
    /* background: url(../common/img/icon_action_delete.png) no-repeat 0px 0px;        */
    cursor: pointer;
    float: left;
}
.gis_search_contact_result, .gis_location_contact_result {
    max-height:300px;
    overflow:auto;
}
.gis_search_contacts_form_show{
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: maroon;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#gis_region_library ul,.gis_search_location_ul,.gis_polygon_tools ul{margin: 1px;font-size:12px;color: #DDDDDD;}
#gis_region_library ul li,.gis_search_location_ul li,.gis_polygon_tools ul li{padding: 1px;line-height: 25px;}

.gis_search_locations_form_show{height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: maroon;
    color: white;
    cursor: pointer;
    font-weight: bold;}
.search_location_div  table td{padding: 3px;}
.olControlRegionLibraryLi{
    /*background: url(../common/img/icon_toolbar_library.png) no-repeat 0px 0px;*/
    cursor: pointer;
}
.olControlSearchLocationLi{
    /*background: url(../common/img/icon_toolbar_searchlocation.png) no-repeat 0px 0px;*/
    cursor: pointer;
}
.olControlSearchLocation{
    width:470px;
}
.gis_search_location_result{
    max-height:435px;
    overflow:auto;
    display: none;
}
.gis_search_location_result_title{
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    padding-left: 10px;
}
.gis_search_location_form_show{
    height: 15px;
    line-height: 15px;
    text-align: center;
    background-color: maroon;
    color: white;
    cursor: pointer;
}
.gis_search_location_result_div{
    display: none;
    margin: 10px;
    color: #fff;
}
.gis_search_location_result_div p{
    line-height: 20px;
    padding: 0 15px;
}
.gis_search_location_result_div .contact_name{
    background:#777777;
    display: block;
    padding: 2px 5px;
}
.gis_search_location_result_div p:hover{
    background-color: #FCE68D;
    color: #333333;
}
.gis_search_location_result_div .on{
    background-color: #FCCC04;
    color: #333333;
}
.search_location_div label{
    display: block;
    float: left;
    line-height: 26px;
    text-align: right;
    width: 50px;
    font-weight: normal;
}
.olControlPolygonToolsLi{
    /*background: url(../common/img/icon_toolbar_polygon.png) no-repeat 0px 0px; */
    /*cursor: pointer;*/
    /*border-bottom: 1px solid #ddd;*/
    /*padding-bottom:3px;*/
    /*margin-bottom:5px;*/
}
.ui-layout-pane{
    padding:0px;
}
#container {
    height:     300px;
    margin:     0 auto;
    width:      1300px;
}

.gis_polygon_tools li{
}
.gis_polygon_tools li a{
    display: block;
}

.gis_polygon_tools li.on a{
    color: white;
    background: black;
}

.gis_polygon_tools li a:hover{
    color: white;
    background: black;
}


/** rostom's entries **/
.everbridge_gis_region_library {width: auto;}
.olControlPolygonToolsLi{/*background: url('../common/img/icon_toolbar_polygon.png') no-repeat;cursor: pointer;*/}

.clr {clear: both}

.toolbar {overflow: hidden; font-size: 12px; text-align: left; padding:5px; color: #dddddd; opacity: 0.9; filter:alpha(opacity=90);}
.toolbar .action:hover {cursor: pointer; color: red}

.toolbar.polytools {display: none;}
.toolbar.polytools .icon {float: left; height: 25px;}
.toolbar.polytools .icon.freeform {background: url('../common/img/icon_p_freeform.png') no-repeat 0px 5px;}
.toolbar.polytools .icon.polygon {background: url('../common/img/icon_toolbar_polygon.png') no-repeat 0px 2px;}
.toolbar.polytools .icon.circle {background: url('../common/img/icon_p_circle.png') no-repeat 0px 5px;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.toolbar.polytools .icon.rotate {background: url('../common/img/icon_p_rotate.png') no-repeat 0px 5px;}
.toolbar.polytools .icon.stretch {background: url('../common/img/icon_p_stretch.png') no-repeat 0px 5px;}
.toolbar.polytools .icon.move {background: url('../common/img/icon_move.png') no-repeat 0px 5px;
    border-bottom: 1px solid #dddddd;
    display: inline-block;
    padding-bottom: 5px;
    width: 100%;
    margin-bottom: 5px;
}
.toolbar.polytools .icon.hand {background: url('../common/img/icon_p_hand.png') no-repeat 0px 5px;}
.toolbar.polytools .icon.remove {background: url('../common/img/icn_trash_16_white.png') no-repeat 1px 6px;}
.toolbar.polytools .tool {clear: both; height: 25px;margin-top: 1px;}
.toolbar.polytools .tool a {float: left; padding-left: 25px; padding-top: 3px; color: #dddddd;line-height: 20px}
.toolbar.polytools .tool.on {background-color: #000;}
.toolbar.polytools .tool:hover {background-color: #000;}


#gis_region_library {display: none; max-height: 250px; overflow-y: auto;}
#gis_region_library .msg {color: #ffffff;}
#gis_region_library .row {clear: left; overflow: auto; margin-bottom: 8px;}
#gis_region_library .action_expand {float: left; background: url('../common/img/icon_folder_open.png') no-repeat; width: 16px; height: 16px; }
#gis_region_library .folder span {margin-left: 8px; line-height: 18px;}
#gis_region_library .folder .folder_name {max-width: 468px}
#gis_region_library .folder .folder_name:hover {cursor: pointer;}
#gis_region_library .folder .region {display: none;}
#gis_region_library .region {clear: both; margin-left: 24px; line-height: 18px;}
#gis_region_library .region .action_load {float: right;text-decoration:underline; margin-left: 8px}
#gis_region_library .region .action_load:hover {cursor: pointer; color: red}
#gis_region_library .region .region_name {float: left; max-width: 468px; }

.olControlSelectedContacts .clearall {float: right}
.everbridge_gis_panel_body ul li.olControlSelectedContactsLi {border-radius: 10px; background-color: #000; padding: 15px; list-style-image: none; line-height: 1.2; text-align: center; margin-right: 10px;}
.everbridge_gis_panel_body ul li.olControlSelectedContactsLi a {color: #00BEEE; font-size: 14px}

.toolbar.selected_contacts {display: none; max-height: 480px;overflow: auto;min-width: 350px;}
.toolbar.selected_contacts .row {clear: left; overflow: auto;  border-bottom: 1px solid #fff; padding: 5px 0; line-height: 22px;}
.toolbar.selected_contacts .row.heading {font-weight: bold; }
.toolbar.selected_contacts .selectpoly {float: left; margin-right: 8px; margin-top: 4px;}
.toolbar.selected_contacts .results .selectpoly {margin-top: 4px;}
.toolbar.selected_contacts .name {float: left; width: 100px; margin-right: 8px; }
.toolbar.selected_contacts .contactscount {float: left; width: 60px; margin-right: 8px; }
.toolbar.selected_contacts .polygons .row.entry .contactscount a {text-decoration: underline; color: #fff;}
.toolbar.selected_contacts .polytype {float: left; width: 75px; margin-right: 8px;}
.toolbar.selected_contacts .polytype select {font-size: 11px; height: auto; width: 65px;}
.toolbar.selected_contacts .row.heading .polytype {/*padding-top: 5px*/}
.toolbar.selected_contacts .rowactions {float: right; width:25px; padding-top:4px;}
/*
.toolbar.selected_contacts .rowactions .delete {float: right; background: url('../common/img/sprite.png') no-repeat; background-position: 0 0; width: 16px; height: 16px;}
*/
.toolbar.selected_contacts .rowactions .delete:hover {cursor: pointer;}


.toolbar.selected_contacts .sep {border-bottom: 3px solid #cccccc; margin-bottom: 8px; margin-top: 18px;}
.toolbar.selected_contacts h2 {float: left; text-transform: uppercase; margin-bottom: 8px;}
.toolbar.selected_contacts .actions {margin-top: 8px;}
.toolbar.selected_contacts .actions .save {float: right; display: none; }
.toolbar.selected_contacts .actions .save_disabled,.save_disabled {cursor: default;}
.toolbar.selected_contacts .actions .save_disabled.gray:hover,#gis_search_location_actions .set_marker_disabled.gray:hover,.save_disabled.gray:hover{font-weight: bold;
    text-decoration: none;
    color: #717174;
    border: solid 1px #a3a3a7;
    background: #d2d2d2;
    line-height: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#d2d2d2));
    background: -moz-linear-gradient(top,  #ffffff,  #d2d2d2);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d2d2d2'); cursor: default;}
.toolbar.selected_contacts .actions_toplevel {float: right; text-decoration: underline;}
.toolbar.selected_contacts .actions_toplevel a {color: #fff;}
.toolbar.selected_contacts .actions_exclusion {float: right; }
.toolbar.selected_contacts .actions_exclusion span {text-decoration: underline;}
.toolbar.selected_contacts .addresses {display: none}
.toolbar.selected_contacts .addresses .rowactions {float: right;}
.toolbar.selected_contacts .addresses .address {float: left; width: 275px; margin-right: 8px; padding-top: 5px;}

#gis_search_location label {color: #DDDDDD; font-weight: normal;}
#gis_search_location .name_input {width: 375px;border: none;}
#gis_search_location_form .contact_name, .toolbar.srch_location .address {float: left;}
#gis_search_location_form .contact_name label, .toolbar.srch_location .address label {float: left; margin-right: 8px; width: 50px; padding-top: 3px}
#gis_search_location_form .address label {margin-right: 8px;}
#gis_search_location_form .toolbar.srch_location .contact_name input[type='text'], .toolbar.srch_location .address input[type='text'] {float: left; width: 155px; }
#gis_search_location_form .srch_type, #gis_search_location_form .actions {float: left;}
#gis_search_location_actions {display: none; padding: 8px}
#gis_search_location_actions .radius {margin-left: 8px; width: 30px;}
#gis_search_location_actions .set_marker_disabled {display: none; cursor: default;}
#gis_search_location_actions .radius_units {width: 100px;}

#gis_save_region .foldersexpand {background: url('../common/img/icon_weather_expand.png') no-repeat; background-position: 0 0;}
#gis_save_region label {display: inline-block; width: 40px; margin-right: 8px;}
#gis_save_region #regionname, #gis_save_region #folderlist {display: inline-block; width: 158px; padding: 3px;}
#gis_save_region .folderlist {display: none;}
#gis_save_region .actions {float: right;}
#gis_save_region .actions .save_disabled {margin-top: 2px;}
#gis_save_region .actions .save_enabled {display: none; margin-top: 2px;}
#gis_save_region .message {display:none; color:#F00;font-weight: bold; margin: 8px; text-align: left;}
#gis_save_region .row {margin-bottom: 5px}
#gis_save_region .row .ui-combobox-toggle{position: absolute;}

.olControlPolygonContacts .ui-jqgrid-bdiv {overflow-x: hidden}
.olControlPolygonContacts {width: 530px;}

.toolbar.srch_location {display: none; padding: 8px 8px;}
.toolbar.srch_location .row {clear: left; overflow: auto; margin-bottom: 8px;}
.toolbar.srch_location input[type='text'] {height: 15px; font-size: 11px;}
.toolbar.srch_location .srch_type {margin-top: 20px;}
.toolbar.srch_location .srch_type label {float: left;  margin-right: 30px}
.toolbar.srch_location .srch_type input[type='radio'] {float: left; margin-right: 8px;}
.toolbar.srch_location .contact_name, .toolbar.srch_location .address {float: left;}
.toolbar.srch_location .contact_name label, .toolbar.srch_location .address label {float: left; margin-right: 8px; width: 50px; padding-top: 3px}
.toolbar.srch_location .contact_name input[type='text'], .toolbar.srch_location .address input[type='text'] {float: left; width: 155px; }
.toolbar.srch_location .radius {margin-top: 8px;}
.toolbar.srch_location .radius label {float: left; margin-right: 8px; width: 50px; padding-top: 3px}
.toolbar.srch_location .radius input[type='text'] {float: left; width: 50px; margin-right: 8px;}
.toolbar.srch_location .radius select {float: left;}
.toolbar.srch_location .radius_units {float: left;}
.toolbar.srch_location .sep {border-bottom: 1px solid #cccccc;}
.toolbar.srch_location .criteria .row {float: left; width: 250px}
.toolbar.srch_location .actions {float: left; margin-left: 20px; width: 100px}
.toolbar.srch_location .actions span:hover {cursor: pointer; color: red}
.toolbar.srch_location .results {display: none;}
.toolbar.srch_location .results h2 {text-transform: uppercase; margin: 8px 0;}
.toolbar.srch_location .results .address {float: left;}
.toolbar.srch_location .results .address input[type='radio'] {float: left; margin-right: 8px; margin-top: 2px;}
.toolbar.srch_location .results .address label {width: 275px;}
.toolbar.srch_location .messages {color: red;}
#srch_type_contact {display: none;}


/*notification css */
.notification_widget{
    display:none;
    position: absolute;
    left: 0;
    top:0;
}
.notification_widget .width_500{
    min-width: 100%;
}
.noti_content_div{
    padding-left: 2px;
}
.tip_message{
    display: block;
}
#send_notification{
    padding-left: 0px;
    overflow: auto;
    overflow-x:hidden;
}
#send_notification #main{
    min-width:50px;
}
#send_notification .main_content{
    margin: 0;
    margin-top: 5px;
}
.noti_content{
    padding:0 0px;
}
.noti_content_li h3{
    text-align: left;
}
.dispaly_div {
    /*width: 438px;*/
}
.main_content {
    margin: 0;
}

.noti_content_divc .divc_b ul li, .divc_b ul li {
    width: 190px;
}
#senderEmail{
    width:220px;
}
#controlToggle li{float:left;list-style-type: none;border: 1px solid}
.column{
    /*  margin: 2px;
padding: 2px;      */
    height: 95%;
    width: 100%;
}
.widget-placeholder {
    border: 2px dashed #999;
    margin-bottom: 10px;
}
/* CSS Document */
.icon_map,.icon_weather,.icon_twitter,.icon_travel,.icon_recipient,.icon_newbroadcast{background:url(../common/img/sprite_IV.png) no-repeat;height:30px; width:30px; display:inline-block; vertical-align:middle; margin-right:5px; }
.icon_map{background-position:-1001px 0;}
.icon_weather{background-position:-1229px 0;}
.icon_twitter{background-position:-1187px 0;}
.icon_travel{background-position:-1149px 0;}
.icon_recipient{background-position:-1108px 0;}
.icon_newbroadcast{background-position:-1068px 0;}
.nav ul.universe_ul li sup{-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;padding:5px 8px; color:#fff; background:#D1233C;height: 15px;line-height: 15px;position: absolute;top:2px;}
.nav ul.universe_ul_right li{ float: left;}
.nav ul.universe_ul_right{float:right; margin-top:8px; margin-right:60px;}
.pos_lipanel{position:relative}
.nav ul.universe_ul_right li{padding-left:5px;}
.view_module{height:24px; line-height:24px; padding:0 5px; border:1px solid #ccc; background:#fcfcfc; cursor:pointer;}
.view_module span{
    display: inline-block;
    min-width: 35px;
}
.icon_view_module{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-1042px 0; height:16px; width:16px; display:inline-block;vertical-align:middle; margin-right:5px;}
.nav ul.universe_ul_right .hidden_view_module{
    display:none;
    border: 1px solid #CCC;
    overflow: hidden;
    border-bottom: none;
    margin-top: -1px;
    position: absolute;
    right: 0;
    z-index: 15000;
    background-color:
        white;
    left: 5px;
}
.li_nodata{
    text-align: center;
    background-color: #f5deb3;
}
.nav ul.universe_ul_right .hidden_view_module li{display:block; clear:both; padding:0; width:100%;}
#gis_subTop{
    background: url('../common/img/bgSubTop.png') repeat-x;
    height: 46px;
    line-height: 42px;
}
.icon_jta2.off{
    background: url(../common/img/sprite_icon.png) no-repeat;
    background-position: 0 -296px;
    width: 12px;
    height: 15px;
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
#gis_subTop .nav .universe_ul li{ float: left;cursor: pointer;margin-right: 25px;position: relative;}
#gis_subTop .nav .universe_ul_right .hidden_view_module li a{ padding:0 15px;line-height:28px; color:#333; display:block;border-bottom:1px solid #ccc; text-align:left;}
#gis_subTop .nav .universe_ul_right .hidden_view_module li a:hover{ color:#3A7AB6; background:#eee;}
.icon_layout,.icon_layout_a,.icon_layout_b,.icon_layout_c{background:url(../common/img/sprite_IV.png) no-repeat;height:16px; width:15px; display:inline-block;vertical-align:middle;}
.icon_layout{background-position:-268px -47px; margin-right:5px; }
.icon_layout_a{background-position:-976px 0; margin-left:5px; }
.icon_layout_b{background-position:-950px 0; margin-left:5px; }
.icon_layout_c{background-position:-924px 0; margin-left:5px; }
/*weather*/
.hot_number {-moz-transition: all 0.3s ease 0s;background-color: rgba(255, 249, 198, 1);border-radius: 2px 2px 2px 2px;color: #333; display:inline-block;height: 17px;line-height: 17px;position:relative;text-align: center;padding:0 10px;border:1px solid #ccc;}
.hot_number b {-moz-transition: all 0.3s ease 0s;border-bottom: 4px dashed transparent;border-color: rgba(255, 249, 198, 1) rgba(255, 249, 198, 1) transparent;
    border-left: 8px solid rgba(214, 214, 214, 1);display: inline-block;font-size: 0;height: 0;left: 5px;overflow: hidden;position: absolute;top: 17px;width: 0; font-weight:normal; }
.icon_small_weather{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-1229px -35px;height:22px; width:23px; display:inline-block;vertical-align:middle;}
.icon_small_setting{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-1410px 0;height:18px; width:19px; display:inline-block;vertical-align:middle;}
.icon_arrow_down{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-268px -35px;height:4px; width:7px; display:inline-block;vertical-align:middle;}
.icon_a1{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-298px -49px;height:14px; width:14px; display:inline-block;vertical-align:middle;}
.icon_a2{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-329px -50px;height:13px; width:19px; display:inline-block;vertical-align:middle;}
.icon_a3{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-360px -47px;height:16px; width:16px; display:inline-block;vertical-align:middle;}
.icon_a4{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-386px -47px;height:16px; width:16px; display:inline-block;vertical-align:middle;}
.div_a .div_a1{font-size:14px; margin-bottom:5px;}
.div_a .div_a1 span{padding-left:10px;}
.icon_dengbao{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-594px 0px;height:16px; width:12px; display:inline-block;vertical-align:middle;}
.div_a .div_a2{color:#777;}
.div_a .div_a3{background:#e4eeff; overflow:hidden; padding:10px; position:relative; margin-top:10px;}
.div_a3_b {border:1px solid #ccc;  height:28px; line-height:28px; background:#fff;cursor:pointer;}
.div_a3_b input.input_auto{width:80%; height:28px; line-height:28px; border:none; padding-left:15px; font-family:Arial, Helvetica, sans-serif}
.b_close_btn{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-456px -50px;height:12px; width:12px; display:inline-block;vertical-align:middle; position:absolute; right:10px; top:10px; cursor:pointer}
.ul_b li{padding:5px;}
.ul_b li i{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-79px -47px;height:9px; width:9px; display:inline-block;vertical-align:middle;}
.select_xljt{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-484px -50px;height:14px; width:16px; display:inline-block;vertical-align:middle; float:right; margin:8px 10px 0 0}
.ul_b li span{margin-left:5px;}
.div_a4{background:#A4D0FF; padding:5px 0; cursor:pointer;}
.div_a4 .zhankai_jt{background:url(../common/img/sprite_IV.png) no-repeat; background-position:-513px -50px;height:7px; width:24px; display:inline-block;vertical-align:middle; position:relative; left:48%;}
.hidden_select_xlcd{border:1px solid #ccc; overflow:hidden; border-top:none;background:#FFF;}
.hidden_select_xlcd li{display:block; clear:both; padding:0; width:100%;}
.hidden_select_xlcd li a{ padding:0 15px;line-height:28px; color:#333; display:block;text-align:left;}
.hidden_select_xlcd li a:hover{ color:#3A7AB6; background:#eee;}
.heng_line{border-top:1px solid #ccc; margin:10px 0; background:#fff;}

.icon_small_notification{
    background: url(../common/img/sprite_IV.png) no-repeat -1068px -3px;
    height: 24px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}
.popup_remove_polygon{
    width:16px;
    height:16px;
    cursor:pointer;
    background: url(../common/img/icn_close_16.png) no-repeat 0px 0px;
}
.popup_remove_polygon:hover{background:url(../common/img/icn_close_hover_16.png) no-repeat;}
.olPopupContent {
    padding: 0px;
}

#widget_notification #main{
    min-height: 0px;
    min-width: 300px;
}
#widget_notification .main_content {
    margin: 0px;
    overflow: auto;
}
#widget_notification .noti_divpanl{
    width:auto;
}

/*widget*/

.widgets_vertical .widgets_layout_nav{
    display:none;
}
.widgets_horizontal .widgets_layout_nav{
    display: block;
}
.widgets_vertical,.widgets_horizontal{
    border-right: 3px solid #999;
    background: #DDDDDD;
    border-bottom: 1px solid #999;
}
.univ-panel {
    padding:8px;
    border-bottom: 1px solid #999;
    border-top-width: 0px;
    border-left-width: 0px;
    overflow:hidden;
}
.no_bottom_border{
    border-bottom: none;
}
.wediget_divbox {
    background: #DDDDDD;
    padding: 2px;
    border-right: 3px solid #999;
    border-bottom: 1px solid #999;
    border-top-width: 0px;
    border-left-width: 0px;
}
.univ-panel h5 {
    font-size: 1.2em;
    color: #bc283d;
    display:inline-block;
    padding: 0px;
    margin:0;
    float:left;
    background: none;
}

.univ-panel h5 a:link {
    padding-left: 20px;
    color: #bc283d;
    text-decoration: none;
}
.univ-panel h5 a:hover {
    text-decoration: underline;
}
.univ-panel h5 a:visited {
    color: #bc283d;
    text-decoration: none;
}
.univ-panel h5 a.hideshow-show {
    background: url(img/tri_red_down.png) no-repeat;
}

.univ-panel h5 a.hideshow-hidden {
    background: url(img/tri_red_right.png) no-repeat;

}


/* selecting one col or two --------------------*/
.univ-panel .colselection {
    float: left;
}
.univ-panel .colselection a{
    margin-left: 10px;
}
.univ-panel .colselection a.selected{
    border: 2px solid #666;

}
.widgets_vertical .noti_divpanl.width_500{
    width:100%;
}
.widgets_vertical .noti_divpanl.width_500 .width_percent94{
    width:89%;
}
/* selecting widgets --------------------*/
.univ-panel ul.widget-select {
    display: block;
    margin: 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
}
.univ-panel li{
    display: inline;
    list-style: none;
    font-size: .9em;
    margin-top: 0px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.univ-panel li div{
    display: inline;
    align: center;
    width:50px;
    padding: 10px;
}
.widgets_vertical .univ-panel ul{text-align:center;}
.widgets_vertical .univ-panel ul li{ margin-right:0; display:block; margin:0 0 20px 0;}
/* widget title bar --------------------*/
.widget_li{
    display: none;
    padding-right: 1px;
}
.w-titlebar{
    font-size: 1.1em;
    font-weight: bold;
    color: #FFF;
    background: #333;
    padding: 5px 8px;
    overflow:hidden;
}

.w-titlebar a:link{
    padding-left:5px;
    color: #FFF;
    text-decoration: none;
}
.w-titlebar a:hover{
    text-decoration: underline;
}
.w-titlebar a:visited{
    color: #FFF;
    text-decoration: none;
}
.w-titlebar a.hideshow-hidden{
    background: url(img/tri_white_right.png) no-repeat;
}
.w-titlebar a.hideshow-show{
    background: url(img/tri_white_down.png) no-repeat;
}

.topcontrols{
    margin-bottom:10px;
}

.w-contentarea{
    padding: 10px;
}
.w-contentblock{
    background: #FFF;
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    margin-bottom: 4px;
}
.w-contentblock_a1{
    background: #FFF;
    border: 1px solid #CCC;
    border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    margin-bottom: 4px;
}
.selected_w-contentblock{ background:#F7F8C1;}
.w-contentblock .heading{
    font-weight: bold;
    color: #333;
}

.highlighted_w-contentblock{  box-shadow:none; border:2px solid #464646 !important;border-radius:0; }

.w-contentblock table td {
    padding: 2px;
    border-bottom: 1px solid #DDDDDD;
    font-size: .9em;
}
.w-contentblock table th{
    padding: 2px;
    border-bottom: 1px solid #DDDDDD;
    font-weight: bold;
    text-align: left;
    font-size: .9em;
}
.w-subcontentblock{
    background: #EFEFEF;
    padding: 8px;
    border: 1px solid #CCC;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 5px;
    overflow: hidden;
}
.w-message {
    margin-top: 5px;
    margin-bottom: 7px;
    word-wrap: break-word;
}
.w-message img{border: 1px solid #333;float: right}
.hideshowbutton {
    border-radius: 4px 4px 4px 4px;
    margin: 8px 0;
    background: #999;
    padding: 3px;
    display: block;
    text-align: center;
}
.hideshowbutton a:link{color:#FFF}
.hideshowbutton a:hover{color:#FFF; text-decoration:none;}
.hideshowbutton a:visited{color:#FFF}


.twitter-wrap{
    display: block;
    overflow: auto;
}
.twitter-avatar{
    float:left;
    padding-right: 6px;
    clear: right;
}
.twitter-content{
    line-height: 1em;
    float: right;
    clear: right;

}

.tw-btn-follow  {
    color: #FFF;
    background: #53111b;
    padding: 2px;
    font-size: .9em;
    border-radius: 4px 4px 4px 4px;
}
.tw-btn-following  {
    color: #FFF;
    background: #060;
    padding: 2px;
    font-size: .9em;
    border-radius: 4px 4px 4px 4px;
}
.flag{
    font-size:10px;
    color: #FFF;
    background: #F00;
    padding: 1px;
    display: inline;
    font-weight: normal;
}
.spacer-short{
    height: 0.3em;
}

.select ul  {
    display: block;
    padding: 0px;
    margin-top: 7px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.select ul li{
    list-style: none;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 12px;
    margin-left: 0px;
}
.select ul li a:link{
    color: #333;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: #CCC;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-left: 5px;
    border-radius: 4px 4px 4px 4px;
}
.select ul li a:hover{
    color: #FFF;
    text-decoration: underline;
    background-color: #999;
}
.select ul li a:visited{}
.select ul li a.disabled{
    color: #999999;
    text-decoration: none;
    padding: 2px;
    border: 1px solid #CCC;
    background-color: #DDDDDD;
}
.select ul li a.disabled{}


.widget-expansion {
    background:url(img/tri_white_down.png) no-repeat;
    display:inline-block;
    height:14px; width:14px;
    float: left;
}
.widget-expansion.off {
    background: url(img/tri_white_right.png) no-repeat scroll 0 0 transparent;
}
.widget-remove {
    background: url(img/close_white.png) no-repeat scroll 0 0 transparent;
    float: right;
    cursor: pointer;
    display: block;
    height: 14px;
    width:14px;
    vertical-align:middle;

}
/*fix selecting one col or two --------------------*/
.col_selectors_1,.col_selectors_2{ width:24px; height:16px; display:inline-block; vertical-align:middle;}
.col_selectors_1{ background:url(img/col_selectors_1.png) no-repeat;}
.col_selectors_2{background:url(img/col_selectors_2.png) no-repeat;}
.icn_widget{width:24px; height:24px; display:inline-block;}
.icn_twitter{background:url(img/icn_twitter_on.png) no-repeat;}
.icn_twitter:hover,.icn_twitter.off{background:url(img/icn_twitter_off.png) no-repeat;}
.icn_recapp{background:url(img/icn_recapp_on.png) no-repeat;}
.icn_recapp:hover,.icn_recapp.off{background:url(img/icn_recapp_off.png) no-repeat;}
.icn_weather{background:url(img/icn_weather_on.png) no-repeat;}
.icn_weather:hover,.icn_weather.off{background:url(img/icn_weather_off.png) no-repeat;}
.icn_travel{background:url(img/icn_travel_on.png) no-repeat;}
.icn_travel:hover,.icn_travel.off{background:url(img/icn_travel_off.png) no-repeat;}
.icn_reports{background:url(img/icn_reports_on.png) no-repeat;}
.icn_reports:hover,.icn_reports.off{background:url(img/icn_reports_off.png) no-repeat;}
.icn_new_notif{background:url(img/icn_new_notif.png) no-repeat;}

.title-tri_white_down{background:url(img/tri_white_up.png) right no-repeat; margin-right:8px; margin-left:8px;display:block;}
.title-tri_white_up{background:url(img/tri_white_down.png) right no-repeat; margin-right:8px; margin-left:8px;display:block;}
.icon_twitter_bird,.icon_w_titlebar_weather,.icon_w_titlebar_recapp,.icon_w_titlebar_reports,.icon_w_titlebar_travel,.icn_newnotif_16,.icn_location_16,.icn_refrash_16{width:16px; height:16px; display:inline-block; vertical-align: middle;}
.icon_twitter_bird{background:url(img/w_titlebar_twitter.png) no-repeat;}
.icon_w_titlebar_weather{background:url(img/w_titlebar_weather.png) no-repeat;}
.icon_w_titlebar_recapp{background:url(img/w_titlebar_recapp.png) no-repeat;}
.icon_w_titlebar_reports{background:url(img/w_titlebar_reports.png) no-repeat;}
.icon_w_titlebar_travel{background:url(img/w_titlebar_travel.png) no-repeat;}
.icn_newnotif_16{background:url(img/icn_newnotif_16.png) no-repeat;}
.icn_location_16{background:url(img/icn_location_16.png) no-repeat;}
.icn_refrash_16{background:url(img/icn_refrash_16.png) no-repeat;}

.uvn_qtip-panel{background: #000000;width:150px;color:#ffffff;borfilter:alpha(opacity=70);-moz-opacity:0.7;opacity: 0.7;-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; padding:5px; position:relative;}
.uvn_qtip-text{}
.unv_qtip-icon{position:absolute; left:-5px; top:20px; background:url(img/unv_qtip.png) no-repeat; display:block; float:left; height:8px; width:5px;}

.widgets_vertical .btn_widgets_to_div{margin: 0 auto; width: 24px;}
.widgets_horizontal .btn_widgets_to_div{float: right;}

.btn_widgets_to{height:24px; width:24px; display:block;}
.widgets_vertical .btn_widgets_to{ background:url(img/icn_come.png);}
.widgets_horizontal .btn_widgets_to{ background:url(img/icn_go.png);}
.btn_widgets_to_left{background:url(img/icn_go.png);}
.btn_widgets_to_right{background:url(img/icn_come.png);}

.widgets_vertical .btn_widgets_to:hover,.btn_widgets_to_right:hover{background:url(img/icn_come_hover.png);}
.widgets_horizontal .btn_widgets_to:hover,.btn_widgets_to_left:hover{background:url(img/icn_go_hover.png);}

.border-none{ border:none}
.Widgets-title{color:#000; font-size:16px; font-weight:bold; margin-bottom:10px;}
.Widgets-menu{background:#d9d9d9; width:230px; margin:0 auto; overflow:hidden; list-style:none; padding:20px 5px 0 5px; margin-top:10px;}
.por{ position:relative;}
.Widgets-menu li{width:110px;float:left; padding-bottom:40px; text-align:center}
.Widgets-menu li sup{background: #D1233C;border-radius: 10px 10px 10px 10px;color: #FFFFFF;height: 15px;line-height: 15px;padding:1px 3px;position: absolute; top:0; margin-left:10px;}
.Widgets-menu li a{ color:#717174; text-decoration:none; display:block;}
.Widgets-menu li.teshu-li{width:220px; float:left; padding-bottom:40px;text-align:center}

.univ-send-noti-panel{border-bottom:none; padding:0;}
.univ-send-notification{text-align:center; border-bottom:2px solid #fff; padding:7px 0;}
.widgets_horizontal .univ-submenu{width:auto;}
.colse-univ-submenu{text-align:center; border-bottom:2px solid #fff; padding:10px;}
.colse-univ-submenu a{ border-width:1px; background:#000;-webkit-border-radius:9px; -moz-border-radius:9px; border-radius:9px; padding:5px 8px;}
.univ-tool-bar{height:40px; line-height:40px; color:#FFF; font-size:14px; overflow:hidden;}
.univ-select-contact{background:#000;width:150px; float:left; font-weight:bold; position:relative; left:0;margin-left: -100%;}
.univ-have-select-contact{ color:#FFF; float:left; background:#000;filter:alpha(opacity=60);opacity:0.6; width:100%; }
.univ-have-select-contact .left{
    margin-left: 150px;
    padding-left:5px;
}
.univ-select-contact a,.univ-have-select-contact a{ color:#fff;}
.send_notification_btn{left:390px;margin-left: 0px;margin-top: 5px;position: absolute;z-index: 1800;}
.left{ float:left;}
.right{ float:right;}

.left{float:left;}
.rigth{float:right;}
.left_mar{float:left; margin-left:10px;}
.widget_tab{padding-top:26px;position:relative;overflow:hidden;font-size:12px; clear:both; margin-bottom:10px;}
.widget_tab_lst{position:absolute;top:0;left:0;width:100%;border-bottom:1px solid #666; height:24px; z-index:1;}
.widget_tab_lst a{float:left;height:23px;border:1px solid #666; text-align:center;line-height:24px; margin:0 5px; padding:0 7px;background:#EFEFEF; overflow:hidden; color:#636363;}
.widget_tab_lst a.mouse_out{height:24px;line-height:24px; border:1px solid #666; border-bottom:none; color:#636363; background:#ddd; overflow:hidden; text-decoration:none; }
.icon_retweet{background:url(img/retweet.png) no-repeat;  height:14px; width:18px; display:inline-block; vertical-align:middle;}
.margin5_B{ margin-bottom:5px;}
.margin10_B{ margin-bottom:10px;}



/**/
.select_filter_1,.select_filter_2,.select_filter_3{ vertical-align: top;}
/**/

.w-contentblock_box{width:100%; overflow:hidden;}
.w-contentblock_left{width:12px; float:left; margin-top:10px; margin-left:5px;}
.w-contentblock_left a{ padding:5px 0; }
.w-contentblock_right{float:right; width:89%;}
.icn_twitter_re_div{color:#2E84B1;}
.icn_twitter_re_div a{ text-decoration:none; padding-right:10px; display: inline-block;}
 .twitter-textcontent{ margin-left: 24px;}
.w-subcontentblock:hover,.w-contentblock:hover{background: #F7F8C1;}
 /**/
.widget_page{text-align: center;display:none;}
.widget_page a{ display: inline-block; margin:0 3px; color: #333333; }
.widget_page a:hover{
    background: #dadada;
}
.ui-state-disabled a:hover{background: none;}
.widget_page .current{font-weight: bold;position: relative;top: -3px;}

.widget_table{table-layout: fixed; width: 100%; text-align: left;}
.widget_table td{word-wrap:break-word;word-break:break-all;}
.send_notification_btn .button {padding:4px 8px;}
