<!DOCTYPE html>
<html> <!-- Do not add ng-app here as we bootstrap AngularJS manually-->
<head>
    <title>My AngularJS App</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="styles/bootstrap-responsive.min.css">
    <link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body class="home-page" ng-control ler="RootController">
<div ng-view ></div>
<script data-main="scripts/main" src="lib/require/require.min.js"></script>
</body>
</html>
