doctype html
html
    head
        link( rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" type="text/css")
        //script(src="https://openlayers.org/en/v4.3.3/build/ol.js" type="text/javascript")
    title Leaflet example
body
    div#map.map