body{
	font: 82% arial,sans-serif;
}
.jc_h2{

 }
.jc_h3{

}
.jc_table{
	margin-left: auto;
	margin-right: auto;
}
.jc_tr{
	
}
.jc_td_code{
	border: 1px solid burlyWood;
	border-radius: 5px;
	width:500px;
}
.jc_span_code{
    margin-right: 10px;
    background-color: #f4a460;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.jc_td_result{
	border: 1px solid burlyWood;
	border-radius: 5px;
	font: 82% arial,sans-serif;
	width:200px;
	text-align:center;
}
.jc_template{
    display: none;
}
.jc_section{
    background-color: brown;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.jc_section_title{
    color: white;
}
.jc_section_sub1{
    background-color: cornsilk;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}