.black_overlay {
    display: none;
    position: absolute;
    left: expression(documentElement.scrollLeft + documentElement.clientWidth - this.offsetWidth);
    left: 0 !important;
    top: expression(documentElement.scrollTop + documentElement.clientHeight - this.offsetHeight);
    top: 0 !important;
    width: 100%;
    height: 100%;
    background-color: #999999;
    z-index: 100;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: Alpha(Opacity=30);
}

.btnhandle{
    width: 100%;
    height: 25px;
    background-color: #999999;
}

.btnhandle .text{
    text-align: left;
    float: left;
    font-size: 15px;
    padding-top: 5px;
}

.btnhandle .btn{
    text-align: left;
    float: right;
}

#position1 {background-color:#F00;}
#position2 {background-color:#0F0;}
#position3 {background-color:#00F;}
#position4 {background-color:#FF0;}

.column {
    /*width:480px; */
    float: left; padding-bottom: 10px; }
.customize_column { float: left; padding-bottom: 10px; width: 50%;}
.dashboarditem {
    /*width: 450px;*/
    width: 98%;
    border: 1px solid #BBBBBB;
    float: left;
    margin: 5px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.dashboarditem-header {
    cursor: move;
    background:#DDDDDD;
    border-radius: 0 0 0 0;
    height: 24px;
    line-height: 21px;
    padding: 3px 7px 0 13px;
}
.dashboarditem-title {
    color: #333333;
    float: left;
    text-align: left;
    font-weight: bold;
}

.h-tool-icon {
    float: right;
    margin-left: 3px;
    margin-top: 2px;
    width:16px;
    height:16px;
    cursor:pointer;
}

.dashboarditem-content{height:100%; min-height: 50px; padding: 8px;/*overflow-y:auto;width:450px;_width:434px;*/}
.toload{overflow:hidden;}
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }
.placeholder { width:50%;height:240px;border:1px dashed #ccc;background-color: #f9ffff;clear:both; }
#customize_left .customize_placeholder{
    /*width:145px;*/
}
#customize_left .placeholder{
    /*width:145px;*/
    height:31px;}
#customize_right .placeholder{
    /*width:450px;*/
    height:240px;}
.dashboard_placeholder,.customize_placeholder {
    /*width:450px;*/
    border:1px dashed #ccc;background-color: #f9ffff;clear:both; }
#customize_right {margin-left:0px;}
.to_clonediv {width:950px; height:640px; float:left;}
.to_new_dash_item{border:1px solid #c5e5f2;float: left; margin: 5px;}

table legend{ width:210px;}
table fieldset{ border:none; background-color:#f2f2f2}
.line span{ color:#666; font-size:12px; margin:10px 0px 10px 5px; /*float:left;*/}
.line h1{ font-size:14px; color:#333; margin:15px 0px 0px 11px; float:left;}
table.index_table{margin:10px 0 0 0; width:100%;}

.leftnav_showtopbg,.leftnav_showbottombg,.leftnav_hidetopbg,.leftnav_hidebottombg,.left_showdivlisttopbg{
    background:url( "img/sprites.png") no-repeat;
}
.leftnav_showbox{position:absolute;left:0;width:182px; overflow:hidden; margin: 5px 0 0 0;display:none;}
.leftnav_showtopbg{ background-position:0 -344px ; height:7px; width:182px; overflow: hidden;}
.leftnav_showcenterbg{width:178px;border-right:4px solid #ccc; float: left; padding-bottom: 10px;}
.left_hidediv{text-align:right;float:right; padding-right:13px; padding-top: 13px;}
.left_hidediv a{background:url(img/icn_go.png) no-repeat; height: 24px; width: 24px; display: block;}
.left_hidediv a:hover{background:url(img/icn_go_hover.png);}
.left_modetitle{margin-left:13px; margin-top:7px; width:100px;font-size:12px;color:#999; clear: both;}
.left_show_title{padding:20px 0 15px 0; margin-left:13px; font-size:12px;color:#333;}
.left_showdivlist{width:145px; overflow:hidden; padding-bottom:7px;margin-left:13px; }
.left_showdivlistbg{background:url(img/dash_tbg.jpg) repeat-y; width:143px;color:#333;cursor:move;/*-webkit-border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;border-radius:4px 4px 0 0;*/border: 1px solid #cccccc;}
.left_showdivlistbg:hover{background:url(img/dash_tbg_hover.jpg) repeat-y;}
/*.left_showdivlisttopbg{background-position:0 -392px ; width:145px; height:4px; overflow:hidden;}*/
.left_showdivico{background:url(img/dask_fk.jpg) left no-repeat; padding-left:12px; margin-left:7px;}
.leftnav_showbottombg{background-position:0 -351px ; height:7px; width:182px; clear: both;overflow: hidden;}

.leftnav_hidebox{width:31px; overflow:hidden;position:absolute;left:0;margin: 5px 0 0 0;}
.leftnav_hidetopbg{background-position:0 -368px ; height:7px; width:31px; overflow:hidden;}
.leftnav_hidebg{width:27px; border-right:4px solid #ccc; padding-bottom: 10px;}
.left_showdiv{padding-top: 13px;}
.left_showdiv a{background:url(img/icn_come.png) no-repeat;height: 24px; width: 24px; display: block;}
.left_showdiv a:hover{background:url(img/icn_come_hover.png);}

.leftnav_hidebottombg{background-position:0 -375px ; height:7px; width:31px; overflow: hidden;}
.left_hidedivico{background:url( "img/icn_widget_list.png") no-repeat; height:24px; width:24px; margin:14px 0 0 0;}
.left_hide_title {
    margin-left: 3px;
    margin-top: 25px;
    width: 20px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.right_col{min-height:500px;height:auto !important; height:500px;overflow:hidden !important;overflow: visible;background-color: #ffffff;}
.my-ui-corner-all{ border-radius:4px 4px 4px 4px; border:1px solid #CCCCCC}
.my-ui-widget-content{border:1px solid #DDDDDD;}
.edit_gray{background:#f5f5f5;}


.icn_close_16{background:url("img/icn_close_hover_16.png") no-repeat;}
.icn_close_16:hover{background:url("img/icn_close_16.png") no-repeat;}
.icn_collapse_16{background:url("img/icn_collapse_hover_16.png") no-repeat;}
.icn_collapse_16:hover{background:url("img/icn_collapse_16.png") no-repeat;}
.icn_max_16{background:url("img/icn_max_hover_16.png") no-repeat;}
.icn_max_16:hover{background:url("img/icn_max_16.png") no-repeat;}
.icn_restore_16{background:url("img/icn_restore_hover_16.png") no-repeat;}
.icn_restore_16:hover{background:url("img/icn_restore_16.png") no-repeat;}

.text_left{text-align:left; overflow: hidden;}
.chart_container{ width:98%; height:100%;}
.border_bom{border-bottom: 1px solid #CCCCCC;}
.padding15-bom{padding-bottom: 15px;}
.overf-h{overflow: hidden;}
.report_btn{font-weight:bold; height:46px; margin-bottom:10px; text-align:center; margin-right:5px; }
.dashboarditem-container .report_btn{display: inline;}
.dashboard_more{
    color: #FFFFFF;
    float: right;
    position: relative;
    right: 10px;
    top: -20px;
}
a.dashboard_more:hover{
    color: #FFFFFF;
}
a.inline_block{display: inline-block;}
.div_nodata{
    color: #999999;
    font-weight: bold;
    line-height: 40px;
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
}