body{
    font: 82% arial,sans-serif;
    /*background-color: rgb(241, 235, 240);*/
    /*background-image: -webkit-linear-gradient(white 1px, transparent 2px), -webkit-linear-gradient(0deg, white 1px, transparent 2px), -webkit-linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px), -webkit-linear-gradient(0deg, rgba(83, 60, 60, .3) 1px, transparent 1px);*/
    /*background-size: 100px 100px, 100px 100px;*/
    /*background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;*/

}
.u-1,.u-2{
    list-style-type: none;
}
.l-1,.l-2{
    list-style-type: none;
    margin-top: 10px;
}
.l-1{
    background-color: skyBlue;
    border-radius: 10px;
    padding: 5px;
}
.l-2{
    background-color: whiteSmoke;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
}
.l-2 a{
    text-decoration: none;
}
.b{
    font-weight: bold;
}
.unfinished{
    text-decoration: line-through;

}
.control_container{
    background-color: skyBlue;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.title{
    text-align: center;
    margin: 0;
    margin-top: -18px;
}
.control{
  float: right;
}
.control a{
    margin-right: 30px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
}
.red{
    color: red;
}
.jc_h2{

 }
.jc_h3{

}
.jc_table{
	width: 100%
}
.jc_tr{
	
}
.jc_td_code{
	border: 1px solid burlyWood;
	border-radius: 5px;
	width:500px;
}
.jc_span_code{
    margin-right: 10px;
    background-color: #f4a460;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.jc_td_result{
	border: 1px solid burlyWood;
	border-radius: 5px;
	width:200px;
	text-align:center;
    font-size: 20px;
    color: darkRed;
    padding: 5px;
    background-color: silver;
}
.jc_template{
    display: none;
}
.jc_section{
    background-color: brown;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
.jc_section_title{
    color: white;
}
.jc_section_remark{
    color: #ffffff;
    margin-bottom: 10px;
    padding-left: 20px;
}
.jc_section_sub1{
    background-color: cornsilk;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.section_sub_title{
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}
.section_sub_title:HOVER{
    background-color: lightskyblue;
}
.section_sub_content{
    display: none;
    line-height: 28px;
    padding-top: 5px;
    padding-left: 20px;
}
.jc_section_sub1.open{
    background-color: #f5f5f5;
}
.p_line_height{
    line-height: 28px;
}
.jc_code_result{
    font-size: 20px;
    color: darkRed;
    display: block;
    padding: 5px;
    background-color: silver;
    border-radius: 10px;
    margin-bottom: 10px;
}
.jc_code_result p{
    padding: 0;
    margin: 0;
}
.myList{
    display: block;
    height: 60px;
    overflow-y: auto;
    background-color: sandyBrown;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 500px;
    border: 10px solid sandyBrown;
}
.myList p{
    margin: 0;
    padding: 0;
    line-height: 12px;
}
table{
    width: 50%;
}
table th,table td{
    border: 1px solid;
}