doctype html
html
    head
        //link( rel="stylesheet" href="https://openlayers.org/en/v4.3.3/css/ol.css" type="text/css")
        //script(src="https://openlayers.org/en/v4.3.3/build/ol.js" type="text/javascript")
    title OpenLayers example
body
    div#map.map